:root{



    --main-color:#181824;
    --scoendary-clolor:#1B1B1B;
    --bold-color:#af3943;
    --text-color : #4baaa8;
    --H-red : #af3943;
    --H-orange : #ffb86c;
    --H-yellow : #fcf601;
    --H-blue : #8be9fd;;
    --H-purble : #7f5cc0;
    --H-green:#0d9668;
    --H1-COLOR:#af3943;
    --H2-COLOR:#fcf601;
    --H3-COLOR:#0d9668;
    
    
    }
/*************/
/* Main*/
/*************/
    
    .rn-pane__body{
    background-color: var(--main-color);

   
    }
    .rn-clr-background{
        background-color: var(--main-color);
    }
    .rn-clr-background-accent{

        background-color: var(--scoendary-clolor);
    }
    .rn-pane__top-bar{
        background-color: var(--main-color);
    }
    .rn-clr-background-elevation-10{

        background-color: var(--main-color);
    }
    .rn-editor__rem__body__text{
    color: var(--text-color)
    
    
    }
    .rn-clr-background-primary{
    
        background-color: var(--main-color); 
    }
    .rn-clr-background-secondary{
        background-color: var(--scoendary-clolor); 
    }
    .rn-clr-background-tertiary{
        background-color: var(--scoendary-clolor);

    }
    #document-sidebar {
  background-color: var(--main-color); 
}
 
    .rn-clr-content-primary{
        color: var(--text-color)

    }
    .rn-clr-content-secondary{
    color: var(--text-color)
    } 
    .rn-clr-content-tertiary {
    color: var(--text-color)
    }
    .rn-clr-content-on-color{

       color: var(--text-color)
    }
    .rn-all-notes{
    color: var(--text-color)
    }
/*************/
/* Note border */
/*************/
.rn-editor{
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-color: #4baaa8;
    background-color:var(--scoendary-clolor);
}
   /*************/
/* Headers & doc title */
/*************/
    .rn-editor__rem__body__text--h1{
     color: var(--H1-COLOR) !important;

    }
    .rn-editor__rem__body__text--h2{
        color: var(--H2-COLOR)!important;
    }
    .rn-editor__rem__body__text--h3{
        color: var(--H3-COLOR)!important;

    }
    .rn-doc-title{
        color: var(--H1-COLOR);
    }

    /*
     Rem hilgiht contrainers * normal
     */
    .rn-editor__rem__body--red{
        background-color: var(--H-red)!important;
        border-radius: 35px;
        border-left-style: solid;
        border-right-style: solid;
        border-color: rgba(0, 0, 0,0.0);
        border-width: 6px;
        color:black !important;
        font-family: 'Shadows Into Light', cursive;
    }
    .rn-editor__rem__body--orange{
        background-color: var(--H-orange)!important;
        border-radius: 35px;
        border-left-style: solid;
        border-right-style: solid;
        border-color: rgba(0, 0, 0,0.0);
        border-width: 6px;
        color:black !important;
        font-family: 'Shadows Into Light', cursive;
    }
    .rn-editor__rem__body--yellow{
        background-color: var(--H-yellow)!important;
        border-radius: 35px;
        border-left-style: solid;
        border-right-style: solid;
        border-color: rgba(0, 0, 0,0.0);
        border-width: 6px;
        color:black !important;
        font-family: 'Shadows Into Light', cursive;
    }
    .rn-editor__rem__body--blue{
        background-color: var(--H-blue)!important;
        border-radius: 35px;
        border-left-style: solid;
        border-right-style: solid;
        border-color: rgba(0, 0, 0,0.0);
        border-width: 6px;
        color:black !important;
        font-family: 'Shadows Into Light', cursive;
    }
    .rn-editor__rem__body--purple{
        background-color: var(--H-purble)!important;
        border-radius: 35px;
        border-left-style: solid;
        border-right-style: solid;
        border-color: rgba(0, 0, 0,0.0);
        border-width: 6px;
        color:black !important;
        font-family: 'Shadows Into Light', cursive;
    }
    .rn-editor__rem__body--green{
        background-color: var(--H-green)!important;
        border-radius: 35px;
        border-left-style: solid;
        border-right-style: solid;
        border-color: rgba(0, 0, 0,0.0);
        border-width: 6px;
        color:black !important;
        font-family: 'Shadows Into Light', cursive;
    }
    .highlight-color--red{
        background-color: var(--H-red)!important;
        border-radius: 35px;
        border-left-style: solid;
        border-right-style: solid;
        border-color: rgba(0, 0, 0,0.0);
        border-width: 6px;
        color:black !important;
    }
    .highlight-color--orange{
        background-color: var(--H-orange)!important;
        border-radius: 35px;
        border-left-style: solid;
        border-right-style: solid;
        border-color: rgba(0, 0, 0,0.0);
        border-width: 6px;
        color:black !important;
    }
    .highlight-color--yellow{
        background-color: var(--H-yellow)!important;
        border-radius: 35px;
        border-left-style: solid;
        border-right-style: solid;
        border-color: rgba(0, 0, 0,0.0);
        border-width: 6px;
        color:black !important;
    }
    .highlight-color--green{
        background-color: var(--H-green)!important;
        border-radius: 35px;
        border-left-style: solid;
        border-right-style: solid;
        border-color: rgba(0, 0, 0,0.0);
        border-width: 6px;
        color:black !important;
    }
    .highlight-color--blue{
        background-color: var(--H-blue)!important;
        border-radius: 35px;
        border-left-style: solid;
        border-right-style: solid;
        border-color: rgba(0, 0, 0,0.0);
        border-width: 6px;
        color:black !important;
    }
    .highlight-color--purple{
        background-color: var(--H-purble)!important;
        border-radius: 35px;
        border-left-style: solid;
        border-right-style: solid;
        border-color: rgba(0, 0, 0,0.0);
        border-width: 6px;
        color:black !important;
    }
    .rn-rem-reference{
        color: var(--H-yellow);
        text-decoration: underline 2px;
    }
    .bold {
        font-weight: 700;
        color:var(--bold-color) ;
    }
    [data-rem-tags~=highlight][data-rem-tags~=header] .rem-text {
        color:white!important;
    }


    .cloze {
        background-color: var(--text-color)!important;
        color: black;
        border-bottom: 1.5px ;
        padding-bottom: 2px;
        font-weight: 600;
        font-style: italic;
        border-radius : 5px;
       } 
 /*
       Image border
        */
        .dark .dark\:bg-black {
            border-radius:20px;
         }
/*************/
/* Queue */
/*************/

.rn-queue-container{

    background-color:var(--main-color) !important;
}
.rn-queue__show-answer-btn{

color: var(--text-color)!important;
background-color:var(--main-color)
}
